<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<title>SDM Group3</title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- JS -->
<script src="js/angular.min.js"></script>
