<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<title><%= __("SDM Group3") %></title>

<!-- CSS (load bootstrap from a CDN) -->
<link href="/css/plugins/bootstrap.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">

<!-- JS -->
<script src="/js/angular.min.js"></script>
<script src="/js/lang.js"></script>
