body {
	position: relative;
}

.login-frame {
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #bbb;
	border-radius: 6px;
}

.form-margin {
	margin-top: 6px;
	margin-bottom: 6px;
}

.form-margin-wide {
	margin-bottom: 12px;
}

.item-center {
	text-align: center;
}

.text-center {
	text-align: center;
}

.container {
	margin-top: 50px;
}