<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../views/partials/head %>
 <script src="/js/forum.js"></script>
</head>

<body ng-app="forum">

  <% include ../views/partials/nav %>

  <div class="container" ng-controller="EditController" ng-init="init()">
    
  <div class="row">
    <h2><small class="col-sm-1 col-sm-offset-2">標題：</small></h2>
    <input class="col-sm-6 frame frame-border theme-article title" ng-model="article.title">
  </div>
  <div class="row">
    <h2><small class="col-sm-1 col-sm-offset-2">內容：</small></h2>
    <textarea class=" col-sm-6 frame frame-border frame-high content" ng-model="article.content" ></textarea>
  </div>
    <div class="col-sm-offset-3 col-sm-6 item-center">
      <button class="btn btn-primary" ng-click="EditArticle()">修改文章</button>
    </div> 

  </div>

  <% include ../views/partials/js %>

</body>
</html>