<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../../views/partials/head %>
  <link href="/css/forum.css" rel="stylesheet">
  <script src="/js/forum.js"></script>
</head>

<body ng-app="forum" >

  <% include ../../views/partials/nav %>

  <div class="container" ng-controller="ArticleController" ng-init="init()">
    
    <div class="row" >
      <div class="col-sm-offset-2 col-sm-6 article article-title">
      <h1><small>{{article.user_name}} : </small>  {{article.title}} </h1>
      </div>
      <button type="button" class="btn btn-default btn-lg col-sm-1" ng-click="like()">
        <!-- @TODO 判斷有沒有按過讚 -->
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"><%= __("Like") %></span>
      </button>
    </div>
    <div class="col-sm-offset-2 col-sm-8 article article-content" >

    <br>
    {{article.content}}
    </br>
    </br>
    <!-- @TODO 判斷是不是自己PO的 -->
    <a ng-href="/edit/{{article.article_id}}">
      <button type="button" class="btn btn-default btn-sm col-md-offset-11">
        <span class="glyphicon glyphicon-pencil" ><%= __("Edit") %></span>
      </button>
    </a>
    <button type="button" class="btn btn-default btn-sm col-md-offset-11">
      <span class="glyphicon glyphicon-remove" ng-click="delete()"><%= __("Delete") %></span>
    </button>
    
    </br>
    </div>
    
    <div class="col-md-8 col-md-offset-2 blank"></div>
    <div class="col-md-8 col-md-offset-2 blank"></div>
    <form ng-submit="submitComment()">
    <input class="col-sm-offset-2 col-sm-6 article article-comment" placeholder="<%= __("Leave a comment") %>" ng-model="comment">
    <button type="submit" class="col-sm-offset-1 col-sm-1 btn btn-sm btn-default">SEND</button>
    </form>
      <div class="col-md-8 col-md-offset-2 blank"></div>
    <div class="col-sm-offset-2 col-sm-8 article article-comment" ng-repeat=" comment in article.comment">
      <h4 class="col-md-9"> <small>{{comment.user_name}}</small> : {{comment.content}}</h4>
      <h4 class="col-md-offset-3"><small>{{comment.post_time|date:'MM/dd @ h:mma'}}</small></h4>
      
      <div class="line"></div>
    </div>

  </div>

  <% include ../../views/partials/js %>

</body>
</html>