<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="js/job.js"></script>
</head>

<body ng-app="job">

    <% include ../partials/nav %>

    <div class="container" ng-controller="JobController">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5 item-center">
                <button class="btn btn-primary" onclick="location.href='/job/new'"><%= __("New Job") %></button>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-3 col-sm-5 frame frame-border theme-article" ng-repeat="job in jobs">
                <div>
                    <span class="name">{{job.corporation}}</span>
                </div>

                <div class="row">
                    <div class="col-sm-offset-1">{{job.job_type}}</div>
                </div>
                <a class="more" ng-href="/job/info/{{job.job_id}}"><%= __("More") %></a>
            </div>
        </div>
    </div>

    <% include ../partials/js %>

</body>
</html>