.profile .thumbnail {
  width: 200px;
  height: auto;
}

.profile .name {
  font-size: 24px;
  font-weight: 900;
}

.profile,
.profile-experience,
.profile-education {
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 15px;
  box-shadow: 1px 2px 2px #AAA;
}

.profile-experience .subtitle,
 .profile-education .subtitle {
  font-size: 20px;
  font-weight: 750;
  color: #999;
  width: auto;
  margin: 0 0 10px 0;
  /*background-color: #111;*/
}


.profile-education .main,
.profile-experience .main {
  font-size: 20px;
  font-weight: 800;
  color: #000;
  margin-right: 8px;
}

.profile-education .sub,
.profile-experience .sub {
  font-size: 16px;
  font-weight: 450;
  color: #000;

}


.profile-education .date,
.profile-experience .date {
  font-size: 12px;
  font-weight: 200;
  color: #AAA;
}


ul > li {
  list-style-type: none;
  text-align: text-bottom;
}

ul > li > span {
  margin: 2px;
}

