.theme-article {
}

.theme-article .name {
  color: $name-color;
  font-size: 14px;
  font-weight: 600;
}
.theme-article .time {

}

.theme-article .more {
  font-size: 10px;
  font-weight: 70;
  color: #BBB;
  float: right;
}
.theme-article .title {
  height: 50px;
}
.theme-article .content {
  height: 300px;
}

