body {
  font-family: Arial, sans-serif;
  padding-bottom: 30px;
}
/* put item into center side */
.item-center {
  text-align: center;
}

.frame {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.frame.frame-border {
  border: 1px solid $border-color;
  border-radius: 3px;
}

.frame.frame-high {
  height: 200px;
}

.frame-margin-wide {
  margin-bottom: 12px;
}

/* align button to right side */
.btn-right {
  float: right;
}

.btn-full{
  width: 100%;
}


